:root {
  /*Font-sizes */
  --font-display: 4.6em;
  --font-jumbo: 3.8em;
  --font-xlarge: 3em;
  --font-larger: 2.4em;
  --font-medium: 1.8em;
  --font-small: 1.6em;
  --font-xsmall: 1.4em;

  /* Sspacings */
  --spacing-128: 12.8rem;
  --spacing-68: 6.8rem;
  --spacing-36: 3.6rem;
  --spacing-28: 2.8rem;
  --spacing-24: 2.4rem;
  --spacing-20: 2rem;
  --spacing-16: 1.6rem;
  --spacing-12: 1.2rem;
  --spacing-8: 0.8rem;
}

h2 {
  font-weight: bold;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */

body {
  font-family: "Montserrat", sans-serif;
  color: black;
}

header {
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-36);
}

.navbar__logo {
  max-width: 300px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: var(--spacing-20);
}

.navbar__link {
  font-size: var(--font-medium) !important;
  padding: var(--spacing-8) var(--spacing-16) !important;
  display: inline-block !important;
  transition: background 0.3s ease-in-out !important;
  color: white !important;
  text-decoration: none; /* Elimina la línea subrayada */
  position: relative;
}

.navbar__menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar__link:hover {
  background-color: rgb(54, 80, 110) !important;
}

.with-icon {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}

.with-submenu:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  width: 300px;
  position: absolute;
  background-color: black;
}

.submenu__link {
  display: block;
  padding: var(--spacing-8) var(--spacing-16);
  font-size: var(--font-xsmall);
  transition: background 0.3s ease-in-out;
}

.submenu__link:hover {
  background-color: rgb(54, 80, 110);
}

.submenu__item a {
  color: white;
  text-decoration: none;
}

.submenu__item {
  display: block;
  padding: var(--spacing-8) var(--spacing-16);
  /* font-size: var(--font-medium); */
  list-style: none;
}

.productos {
  display: grid;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.productos {
  margin: 0 auto;
  max-width: 80%;
}

/* COLLECTIONS */

.collection {
  display: grid;
  align-items: center;
}

.collection__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  align-items: start;
}

.collection__title {
  font-size: var(--font-medium);
  font-weight: 700;
}

.collection__text {
  font-size: var(--font-small);
  font-weight: 300;
  border-bottom: 2px solid rgb(54, 80, 110);
  padding-bottom: var(--spacing-8);
}

.collection__link {
  display: inline-block;
  font-size: var(--font-xsmall);
  background-color: black;
  color: white;
  padding: var(--spacing-8) var(--spacing-12);
  border-radius: 50px;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 60px !important;
}

/* FOOTER */

.footer {
  background-color: rgb(167, 160, 160);
  padding: var(--spacing-28);
}

.footer__copy {
  margin-top: var(--spacing-36);
  text-align: center;
}

.footer ul {
  list-style-type: none; /* Elimina la enumeración */
}

/* Para tabletas (768px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar {
    padding: 10px; /* Ajusta el padding del navbar para tabletas */
  }

  .navbar__menu {
    flex-direction: row;
    gap: 10px;
  }
}

/* Para dispositivos móviles (320px) */
@media screen and (max-width: 320px) {
  .navbar {
    padding: 5px; /* Ajusta el padding del navbar para móviles */
  }

  .navbar__menu {
    flex-direction: column;
    gap: 10px;
  }

  .collection__link {
    padding: 8px 16px; /* Ajusta el padding de los enlaces de la colección para móviles */
  }
}
